[submodule "bezpieczenstwo"]
    path = rozdzial2/bezpieczenstwo
    url = https://github.com/BlazejUl/bezpieczenstwo

[submodule "Konfiguracja_baz_danych"]
    path = rozdzial2/Konfiguracja_baz_danych
    url = https://github.com/Chaiolites/Konfiguracja_baz_danych

[submodule "Sprzet-dla-bazy-danych"]
    path = rozdzial2/Sprzet-dla-bazy-danych
    url = https://github.com/oszczeda/Sprzet-dla-bazy-danych

[submodule "Wydajnosc_Skalowanie_i_Replikacja"]
    path = rozdzial2/Wydajnosc_Skalowanie_i_Replikacja
    url = https://github.com/Broksonn/Wydajnosc_Skalowanie_i_Replikacja

[submodule "repo-wspolne"]
    path = rozdzial2/repo-wspolne
    url = https://github.com/GrzegorzSzczepanek/repo-wspolne

[submodule "Partycjonowanie-danych"]
    path = rozdzial2/Partycjonowanie-danych
    url = https://github.com/BartekHen/Partycjonowanie-danych

[submodule "Kontrola_i_konserwacja"]
    path = rozdzial2/Kontrola_i_konserwacja
    url = https://github.com/Pi0trM/Kontrola_i_konserwacja
